target/classes/implementation/lookup-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="lookup-sys-api-flow-publish" doc:id="2c470adc-9b62-4887-88c3-1d3ce2733208" >
		<http:listener doc:name="Listener" doc:id="83155cbc-fd30-47b6-845a-756e18c81ce1" config-ref="http-listener-config" path="${http.listener.basePath}">
			<http:error-response>
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="START" doc:id="b4348daf-f2be-464d-b8f5-b805e7d47a2f" message="#[payload]"/>
		<anypoint-mq:publish doc:name="Publish to trade-queue" doc:id="e87031d6-9acc-426c-9fee-8db0943604b1" destination="#[Mule::p('queue.name')]" config-ref="anypoint-mq-config"/>
		<logger level="DEBUG" doc:name="After Request" doc:id="0fdeb6a0-dc52-49f3-9c18-d3821426eba9" message="#[payload]" category="${log.category}"/>
		<ee:transform doc:name="lookup-sys-api-flow-consume" doc:id="408f0903-b407-4175-86ee-5213d9f77b35" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
lookup('lookup-sys-api-flow-consume', Mule::p('queue.name'),'10000')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="bba28e0d-b955-4612-b1a2-e12be0ae2e7d" message="End of lookup-sys-api-flow. #[payload]"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="46bb9f2a-aaad-41e0-b30e-932e2dfe0670" type="ANY">
				<ee:transform doc:name="Error Response" doc:id="c7a6fb77-5f56-4afe-8e1e-37d6eafb9b36" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	errorDetails:
	{
		"type": error.errorType.asString default null,
		"message": error.description
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Error Log" doc:id="083db441-8696-4bf1-bac3-a57e42f809a7" message="End of error handling. #[payload]"/>
			</on-error-propagate>
		</error-handler>
	
</flow>
	<flow name="lookup-sys-api-flow-consume" doc:id="4a85b367-3eb4-4a6c-b5b2-edaa180d6bcd" >
		<anypoint-mq:consume doc:name="Consume trade-queue" doc:id="10eca147-e0ab-40e1-a85d-eb6dd54c91d8" config-ref="anypoint-mq-config" destination="#[payload]" pollingTime="10" pollingTimeUnit="SECONDS"/>
		<logger level="INFO" doc:name="Response from trade-queue" doc:id="39a85d67-3907-4d16-958c-0920ce05aade" message="#[payload]"/>
	</flow>
	</mule>
